<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  </div>
  <div>
    <a href="{{post_url}}" target="_blank">({{format_url post_url}})</a>
  </div>
  <div class="meta">
    <p>
    {{comments.length}} {{format_plural "comment" comments.length}}
    </p>
  </div>
</article>